.homePage-banner{
    padding-top: 100px;
    display: flex;
    justify-content: space-around;
    background: linear-gradient(
        to top left,
        #B2D0F3 0%,
        #FFFFFF 100%
    );
}
.homePage-banner-slogan-show-first h1{
    font-size: 56px;
    font-weight: bold;
}
.homePage-banner-slogan{
    height: 556px;
}
.homePage-banner-slogan-show-second p{
   font-size: 18px;
   font-weight: 400;
   line-height: 28px;
   color: #656464;
   
}
.high-color{
color:#FF5286 ;
}
.homePage-banner-slogan-show-seeMore p{
    color: #217BF4;
    font-size: 14px;
    font-weight: medium;
}
.page-intro{
    background-color: #F3F2F8;
    display: contents;
}